* {
  padding: 0;
  margin: 0;
}

.productImage {
  width: 300px;
  height: auto;
}

.button {
  border-color: black;
  border-radius: 0.87pc;
  padding: 5px;
  width: 90px;
}

.bgHide {
  background-color: rgb(46, 136, 46);
}

.bgShow {
  background-color: rgb(167, 202, 83);
}

.div {
  width: 300px;
}

.product {
  width: 300px;
}

.box {
  width: 100%;
  justify-content: center;
  display: flex;
}

.marginBottom {
  height: 90px;
}

.load {
  justify-content: center;
  display: flex;
}

.error {
  justify-content: center;
  display: flex;
  color: red;
}
